body {
  margin: 0%;
  background-color: rgb(237, 230, 224);
}

.wrapper {
  background-color: rgb(237, 230, 224);
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
}
.wrapper .logo {
  margin-top: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.wrapper .logo > img {
  width: 90%;
}
.wrapper #nav-bar > ul {
  list-style-type: none;
  font-size: larger;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  color: rgb(14, 15, 16);
  width: 500px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}
.wrapper #nav-bar > ul a {
  text-decoration: none;
  color: black;
}
.wrapper #nav-bar > ul a:hover {
  text-decoration: underline;
  color: rgb(230, 193, 154);
}

.sec1 {
  padding-top: 11px;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  border: solid 2px sandybrown;
  margin: auto;
  gap: 30px;
}
.sec1 .head1 {
  margin: 30px;
  font-size: 30px;
  align-items: flex-end;
  justify-content: space-evenly;
}
.sec1 form {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 30px;
}
.sec1 form #email {
  width: 290px;
  outline: blueviolet;
}
.sec1 form #submit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 12px;
  background-color: rgb(228, 207, 17);
  color: rgb(255, 255, 255);
  outline: none;
}
.sec1 form #submit:hover {
  border: 2px solid rgb(234, 208, 187);
  cursor: pointer;
  color: black;
  outline: white;
}

.container {
  margin: auto;
  margin-bottom: 0;
  background-color: rgb(234, 208, 187);
}
.container .sec2 {
  width: 70%;
  margin: auto;
}
.container .grid {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: auto;
}
.container .icon {
  color: rgb(255, 204, 0);
  margin-bottom: 2em;
}
.container .desc {
  padding: 0 6% 0 6%;
  margin-bottom: 2em;
}
.container .sec3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.container .sect4 {
  margin: auto;
  width: 70%;
  margin-top: 28px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5%;
}
.container .sect4 .products {
  border: rgb(0, 0, 0) 2px solid;
  display: grid;
  gap: 10px;
  grid-template-rows: auto;
  background-color: rgb(125, 122, 118);
}
.container .sect4 .products .i-name {
  width: 100%;
  font-size: 100%;
  font-weight: 800;
  text-align: center;
  background-color: rgb(134, 134, 127);
}
.container .sect4 .products .props {
  text-align: center;
  font-size: 17px;
}
.container .sect4 .products .pricing {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}
.container .sect4 .products .btn {
  padding: 0 4px 0 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
  background-color: rgb(228, 207, 17);
  color: rgb(255, 255, 255);
}
.container .sect4 .products .btn:hover {
  border: 2px solid white;
  cursor: pointer;
  color: black;
}

footer {
  background-color: rgb(89, 92, 92);
  margin: 0px;
}
footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
  font-weight: bolder;
}
footer p {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(240, 240, 240);
}

@media (max-width: 600px) {
  .wrapper {
    background-color: rgb(237, 230, 224);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .wrapper .logo {
    margin-top: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrapper .logo {
    width: 300px;
    margin: auto;
  }
  .wrapper #nav-bar > ul {
    list-style-type: none;
    font-size: larger;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    color: rgb(14, 15, 16);
    width: 500px;
    display: flex;
    justify-content: space-evenly;
  }
  .wrapper #nav-bar > ul a {
    text-decoration: none;
    color: black;
  }
  .wrapper #nav-bar > ul a:hover {
    text-decoration: underline;
    color: rgb(230, 193, 154);
  }
  #pricing {
    margin: auto;
    width: 100%;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    grid-template-rows: auto auto auto;
    grid-auto-rows: minmax(100px, auto);
  }
  #pricing .products {
    border: rgb(0, 0, 0) 2px solid;
    width: 68%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto auto;
    grid-auto-rows: minmax(100, auto);
    background-color: rgb(125, 122, 118);
  }
  #pricing .products .i-name {
    width: 100%;
    font-size: 100%;
    font-weight: 800;
    text-align: center;
    background-color: rgb(134, 134, 127);
  }
  #pricing .products .props {
    text-align: center;
    font-size: 1em;
  }
  #pricing .products .pricing {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
  }
  #pricing .products .btn {
    padding: 0 4px 0 4px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(228, 207, 17);
    color: rgb(255, 255, 255);
  }
  #pricing .products .btn:hover {
    border: 2px solid white;
    cursor: pointer;
    color: black;
  }
}/*# sourceMappingURL=styles.css.map */