body {
    margin: 0%;
    background-color: rgb(237, 230, 224);
}
.wrapper {
    background-color: rgb(237, 230, 224);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: sticky;
    top: 0;

    .logo {
        margin-top: 10px;
        height: fit-content;
    }

    .logo > img {
        width: 100%;
    }

    #nav-bar > ul {
        list-style-type: none;
        font-size: larger;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(14, 15, 16);
        // background-color: aqua;
        width: 500px;
        display: flex;
        justify-content: space-evenly;

        a {
            text-decoration: none;
            color: black;

        }
        .nav-link > a:hover {
            text-decoration: underline;
            color: rgb(230, 193, 154);
        }
    }

}

.sec1 {
    display: grid;
    grid-template-rows: auto auto;
    // flex-direction: column;
    justify-content: center;
    // border: solid 2px sandybrown;
    margin: auto;
    gap: 30px;
    
    .head1 {
        margin: 30px;
        font-size: 30px;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    form {
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center;
        // flex-direction: column;
        gap: 30px;
        
        #email {
            width: 290px;
            outline: blueviolet;
        }

        #btn {
            width: fit-content;
            margin: auto;
            margin-bottom: 12px;
            background-color: rgb(228, 207, 17);
            color: rgb(255, 255, 255);
            outline: none;
        }
        #btn:hover {
            border: 2px solid rgb(234, 208, 187);
            cursor: pointer;
            color: black;
            outline: white;
        }

    }
}

.container {
    margin: auto;
    margin-bottom: 0;
    // border: solid 2px sandybrown;
    background-color: rgb(234, 208, 187);
    
    .sec2 {
        // border: solid 2px rgb(255, 8, 123);
        width: 70%;
        margin: auto;
    }
    
    .grid {
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-rows: auto;
        // gap: 12px;
        // column-gap: 2px;
        // grid-row-gap: 2em;
        // justify-content: space-between;
    }
    
    .icon {
        // width: 100px;
        // border: solid 2px rgb(96, 244, 195);
        color: rgb(255, 204, 0);
        margin-bottom: 2em;
    }
    
    .desc {
        // border: solid 2px rgb(172, 96, 244);
        padding: 0 6% 0 6%;
        margin-bottom: 2em;
    }

    .sec3 {
        width: fit-content;
        margin: auto;
    }

    .sect4 {
        margin: auto;
        // border: rgb(255, 204, 0) 2px solid;
        width: 70%;
        margin-top: 28px;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 5%;
        
        .products {
            border: rgb(0, 0, 0) 2px solid;          
            display: grid;
            // justify-content: center;
            gap: 10px;
            grid-template-rows: auto;
            background-color: rgb(125, 122, 118);

            .i-name {
                width: 100%;
                font-size: 100%;
                font-weight: 800;
                text-align: center;
                background-color: rgb(134, 134, 127);

            }

            .props {
                text-align: center;
                font-size: 17px;
            }

            .pricing {
                text-align: center;
                font-size: 25px;
                font-weight: 800;

            }

            .btn {
                padding: 0 4px 0 4px;
                width: fit-content;
                margin: auto;
                margin-bottom: 10px;
                background-color: rgb(228, 207, 17);
                color: rgb(255, 255, 255);
            }
            .btn:hover {
                border: 2px solid white;
                cursor: pointer;
                color: black;
                // outline: white;
            }
        }
    }
}

footer {
    background-color: rgb(89, 92, 92);
    margin: 0px;

    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-size: 18px;
        font-weight: bolder;
    }

    p {
        margin: auto;
        width: fit-content;
        color: rgb(240, 240, 240);
    }
}

@media (max-width: 500px) {
    .sect4 {
        margin: auto;
        border: rgb(255, 204, 0) 2px solid;
        width: 70%;
        margin-top: 28px;
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: minmax(170px, auto);
        gap: 5%;
    }
}